* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.nav-item {
  font-size: 16px;
  color: #cccccc;
  text-decoration: none;
  margin: 15px 40px 15px 40px;
}

.nav-item:hover {
  color: white;
}

nav {
  background-color: #333333;
  display: flex;
  justify-content: center;
}

#free-shipping {
  background-color: #cccccc;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#welcome {
  height: 700px;
  background-image: url(../img/peeking-cat.jpg);
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#the-cat-shop {
  color: white;
  font-variant: small-caps;
  font-size: 10em;
}

.button {
  background-color: blue;
  color: white;
  border: 1px solid blue;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 0.75s;
}

.button:hover {
  background-color: white;
  color: blue;
}
