* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

.nav-item {
  font-size: 16px;
  color: #cccccc;
  text-decoration: none;
  margin: 15px 40px 15px 40px;
}

.nav-item:hover {
  color: white;
}

nav {
  background-color: #333333;
  display: flex;
  justify-content: center;
}

#free-shipping {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#home-banner {
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}

#the-cat-shop h1 {
  color: white;
  font-variant: small-caps;
  font-size: 18em;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

#content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-product {
  height: auto;
  margin: 20px 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

.featured-product h1 {
  margin-left: 40px;
}

.product-display {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-display-item {
  max-width: 400px;
  max-height: 400px;
}

.see-all {
  display: flex;
  margin: 20px 40px;
  flex-direction: row-reverse;
  font-size: 20px;
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

.see-all:hover {
  text-decoration: underline;
}

#footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #333333;
  color: #cccccc;
  margin-top: auto;
}
